<!DOCTYPE html>
<html>
{include file="common/head" title="部门管理列表"}
<body class="no-skin">
	{include file="common/navbar"}
	<div class="main-container" id="main-container">
		{include file="common/sidebar"}
		<div class="main-content">
			<div class="main-content-inner">
				<div class="breadcrumbs" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="ace-icon fa fa-home home-icon"></i>
							<a href="/">首页</a>
						</li>
						<li>
							<a href="{:url('department/index')}">部门管理</a>
						</li>
						<li class="active">部门添加</li>
					</ul>
				</div>
				<div class="page-content">
					{include file="common/settings"}
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
													<div class="col-xs-12">
							<form class="form-horizontal" id="form" name="form"  method="post">
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 部门名 </label>
									<div class="col-sm-9">
										<input type="text" placeholder="部门名" class="col-xs-10 col-sm-5" value="" name="depart_name">
										
										<span class="help-inline col-xs-12 col-sm-7">
											<span class="middle">部门名称，不能为空。</span>
										</span>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 是否启用 </label>
									<div class="control-label no-padding-left col-sm-1">
										<input type="hidden" name="status" value='0'>
										<label>
											<input class="ace ace-switch ace-switch-2" type="checkbox" name="status" checked  value='1' />
											<span class="lbl"></span>
										</label>

									</div>
									<span class="help-inline col-xs-12 col-sm-7">
										<span class="middle">YES，启用；NO，禁用</span>
									</span>
								</div>
								<div class="space-4"></div>




							
								<div class="col-md-offset-2 col-md-9">
									<button class="btn btn-danger submit" type="button"><i class="icon-ok bigger-110"></i>重置</button>
									<button class="btn btn-success submit" type="submit"><i class="icon-ok bigger-110"></i>提交</button>
								</div>

							</form>
						</div>
									



							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{include file="common/footer"}
	</div>
	{include file="common/js"}
</body>
</html>
